################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CarRaceSimulation/.vs/CarRaceSimulation
/CarRaceSimulation/CarRaceSimulation.ConApp/obj
/CarRaceSimulation/CarRaceSimulation.Logic/obj
/CarRaceSimulation/CarRaceSimulation.Tests/bin/Debug/net8.0
/CarRaceSimulation/CarRaceSimulation.Tests/obj
/CarRaceSimulation/CarRaceSimulation.Logic/bin/Debug/net8.0
/CarRaceSimulation/CarRaceSimulation.ConApp/bin/Debug/net8.0
